[Desktop Entry]
Version=1.0
Type=Application
Name=OpenSystemBench
Comment=Open Source system benchmarking
Exec=/usr/bin/OpenSystemBench
Icon=/usr/share/icons/OSBLogo.svg
